<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Alexsandro - Desenvolvedor</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/Apresentacao.css">

    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="/">Gerenciador de Tarefas</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/usuario/login">sair</a>
                    </li>

                </ul>
            </div>
        </nav>

        <div class="container">
            <he ader class="text-center my-4">
                <h1>Olá, eu sou Alexsandro Lopes Sipelli</h1>
                <p>Desenvolvedor Júnior | Analista de Sistemas</p>
                </header>

                <section id="projeto" class="my-5">
                    <h2>Sobre o Projeto</h2>
                    <p>Este projeto é um Sistema de Gerenciamento de Tarefas desenvolvido utilizando Spring Boot, Java, H2, HTML, CSS, Thymeleaf, JavaScript. O objetivo do projeto é permitir que os usuários gerenciem suas tarefas de forma eficiente e organizada.</p>
                    <ul>
                        <li>Criação de usuários com validação de formulários.</li>
                        <li>Adição, edição e remoção de tarefas.</li>
                        <li>Listagem de tarefas com opções de filtragem.</li>
                        <li>Integração com banco de dados H2.</li>
                        <li>Interface de usuário responsiva e amigável.</li>
                    </ul>
                </section>

                <section id="apresentacao" class="my-5">
                    <h2>Sobre Mim</h2>
                    <p>Olá, meu nome é Alexsandro. Tenho experiência em diversas áreas, mais recentemente, Logística na multinacional Mercado Livre.</p>
                    <p>Atualmente, estou cursando o quarto semestre em Análise e Desenvolvimento de Sistemas e buscando oportunidades na área de TI.s Tenho um interesse profundo por tecnologia e estou constantemente adquirindo novas habilidades para me manter atualizado com as tendências do mercado.</p>
                    <p>Algumas das minhas experiências e cursos incluem:</p>
                    <ul>
                        <li>Experiência no Exército Brasileiro.</li>
                        <li>Agenciador de passagens terminal rodoviario.</li>
                        <li>Logística no Mercado Livre.</li>
                        <li>Curso de Inteligência Artificial na FIAP.</li>
                        <li>Desenvolvimento web com Spring MVC e Thymeleaf.</li>
                    </ul>
                </section>

                <div class="text-center">
                    <a href="/usuario/login" class="btn btn-primary">Cadastar tarefas</a>
                </div>

                <footer class="text-center my-4">
                    <p>&copy; 2024 Alexsandro. Todos os direitos reservados.</p>
                </footer>
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </body>
</html>
