<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Página de Login</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/stylesLogin.css">
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="/">Gerenciador de Tarefas</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">

                </ul>
            </div>
        </nav>

        <!-- Mensagem de Sucesso -->
        <div class="container form-container">
            <div th:if="${mensagemSucesso}" class="alert alert-success text-center" role="alert">
                <span th:text="${mensagemSucesso}"></span>
            </div>

            <h2>Login</h2>
            <form th:action="@{/usuario/login}" method="post">
                <div class="form-group">
                    <label for="username">Nome de Usuário</label>
                    <input type="text" class="form-control" id="username" name="username"
                           placeholder="Digite seu nome de usuário" required>
                </div>
                <div class="form-group">
                    <label for="password">Senha</label>
                    <input type="password" class="form-control" id="password" name="password"
                           placeholder="Digite sua senha" required>
                </div>
                <div class="text-danger text-center mb-3" th:if="${error}" th:text="${error}"></div>
                <button type="submit" class="btn btn-primary btn-block">Entrar</button>
            </form>
            <div class="text-center mt-3">
                <button class="btn btn-secondary btn-block">
                    <a href="/usuario/novo" class="text-white">Cadastrar</a>
                </button>
            </div>
            <div class="text-center mt-3">
                <button class="btn btn-link btn-block">
                    <a href="/apresentacao" class="text-decoration-none">Esqueceu a senha?</a>
                </button>
            </div>
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </body>
</html>
