<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Tarefas Concluídas</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <style>
            .card-body {
                padding: 1.25rem;
            }
        </style>
        <script>
            function confirmarExclusao() {
            return confirm("Tem certeza de que deseja excluir esta tarefa?");
            }

            function confirmarLogout() {
            return confirm("Tem certeza de que deseja deslogar?");
            }
        </script>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h2>Tarefas Concluídas</h2>
                </div>
                <div class="col-md-6 text-right">
                    <a th:href="@{/usuario/tarefa/listar}" class="btn btn-primary">Voltar à Lista de Tarefas</a>
                    <a th:href="@{/usuario/logout}" class="btn btn-danger" onclick="return confirmarLogout();">Deslogar</a>
                    <a th:href="@{/usuario/tarefa/nova}" class="btn btn-success">Adicionar Nova Tarefa</a>

                </div>
            </div>
            <!-- Mensagem de Sucesso -->
            <div th:if="${mensagemSucesso}" class="alert alert-success mt-3" role="alert">
                <span th:text="${mensagemSucesso}"></span>
            </div>


            <div class="row mt-3">
                <div class="col-md-12">
                    <div class="card-columns">
                        <div th:each="tarefa : ${tarefas}">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title" th:text="${tarefa.titulo}"></h5>
                                    <p class="card-text" th:text="${tarefa.descricao}"></p>
                                    <p class="card-text"><strong>Data:</strong> <span th:text="${tarefa.data}"></span></p>
                                    <p class="card-text"><strong>Categoria:</strong> <span th:text="${tarefa.categoria}"></span></p>
                                    <form th:action="@{/usuario/tarefa/marcarPendente/{id}(id=${tarefa.id})}" method="post" class="d-inline">
                                        <button type="submit" class="btn btn-success btn-sm">Pendente</button>
                                    </form>
                                    <form th:action="@{/usuario/tarefa/excluirTarefaConcluida/{id}(id=${tarefa.id})}" method="post" class="d-inline" onsubmit="return confirmarExclusao();">
                                        <button type="submit" class="btn btn-danger btn-sm ml-2">Excluir</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </body>
</html>
