.form-inline{
  padding-left: 100px;
    

}

body {
    background-color: #e9ecef;
    padding-top: 20px;
}
h1{
    font-size:5rem;
}

.navbar {
    background-color: #6c757d !important;
    border-bottom: 3px solid #007bff;
}
.titulo{
    display: flex;
    flex-direction: row;
    padding-bottom: 3rem;
    padding-top:  3rem;
}

.navbar-brand {
    font-size: 2rem;
    font-weight: bold;
    color: #ffffff;
}

.navbar-nav .nav-link {
    color: #ffffff;
    font-size: 1.2rem;
    margin-right: 15px;
}

.navbar-nav .nav-link:hover {
    color: #007bff;
}

.container {
    max-width: 1500px;
    margin: auto;
}

.card {
    margin-bottom: 30px;
    border: none;
    box-shadow: 0 8px 16px rgba(0,0,0,0.1);
    background-color: #ffffff;
}
.card-descricao{
    font-size: 1.8rem;
    color: #555;
    margin-bottom: 15px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

}

.card-title {
    font-size: 3rem;
    font-weight: bold;
    color: #007bff;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

}

.card-text {
    font-size: 1.8rem;
    color: #555;
    margin-bottom: 15px;
    overflow: hidden;

}

.card-body {
    padding: 20px;
}

.btn-success, .btn-danger, .btn-primary {
    font-size: 1.8rem;
}

.btn-sm {
    font-size: 1.6rem;
    margin-top: 10px;
}

.alert {
    font-size: 2.8rem;
}

@media (max-width: 576px) {
    .col-md-6 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}
